<!DOCTYPE html>
<html>
<head>
    <title>My Blog</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <%- include("partials/header.ejs") %>

    <div class="container mt-5">
        <h1>Your Blog</h1>
        <a href="/create" class="btn btn-primary">Create New Post</a>
        <ul class="list-group mt-3">
            <% posts.forEach(post => { %>
                <li class="list-group-item">
                    <h3><%= post.title %></h3>
                    <p><%= post.content %></p>
                    <a href="/edit/<%= post.id %>" class="btn btn-warning">Edit</a>
                    <form action="/delete/<%= post.id %>" method="POST" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </li>
            <% }) %>
        </ul>
    </div>

    <%- include("partials/footer.ejs") %>
</body>
</html>


